---
import "../styles/main.css";

const pageTitle = "Terms of Service - ReadMate";
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="text-container">
      <h1>Terms of Service</h1>
      <p>
        Welcome to ReadMate! These terms and conditions outline the rules and
        regulations for the use of ReadMate's application.
      </p>

      <h2>1. Acceptance of Terms</h2>
      <p>
        By accessing or using this application, you accept these terms and
        conditions in full. If you disagree with any part of these terms, you
        must not use our application. These Terms and Conditions apply to all
        visitors, users, and others who access or use the Service.
      </p>

      <h2>2. Definitions</h2>
      <p>
        <strong>Application</strong> means the software program provided by the Company
        downloaded by You on any electronic device, named ReadMate - Book Tracker.<br
        />
        <strong>Application Store</strong> means the digital distribution service
        operated and developed by Apple Inc. (Apple App Store) or Google Inc. (Google
        Play Store) in which the Application has been downloaded.<br />
        <strong>Affiliate</strong> means an entity that controls, is controlled by,
        or is under common control with a party, where "control" means ownership
        of 50% or more of the shares, equity interest, or other securities entitled
        to vote for election of directors or other managing authority.<br />
        <strong>Country</strong> refers to: Austria.<br />
        <strong>Company</strong> (referred to as either "the Company", "We", "Us"
        or "Our" in this Agreement) refers to Ivan Trajanovski, hello.ivantrj@gmail.com.<br
        />
        <strong>Device</strong> means any device that can access the Service such
        as a computer, a cellphone, or a digital tablet.<br />
        <strong>Service</strong> refers to the Application.<br />
        <strong>Terms and Conditions</strong> (also referred as "Terms") mean these
        Terms and Conditions that form the entire agreement between You and the Company
        regarding the use of the Service.<br />
        <strong>Third-party Social Media Service</strong> means any services or content
        (including data, information, products, or services) provided by a third-party
        that may be displayed, included, or made available by the Service.<br />
        <strong>You</strong> means the individual accessing or using the Service,
        or the company, or other legal entity on behalf of which such individual
        is accessing or using the Service, as applicable.
      </p>

      <h2>3. Changes to Terms</h2>
      <p>
        We reserve the right, at Our sole discretion, to modify or replace these
        Terms at any time. If a revision is material, We will make reasonable
        efforts to provide at least 30 days' notice prior to any new terms
        taking effect. By continuing to access or use Our Service after those
        revisions become effective, You agree to be bound by the revised terms.
        If You do not agree to the new terms, in whole or in part, please stop
        using the application.
      </p>

      <h2>4. User Responsibilities</h2>
      <p>
        You are responsible for your use of the application and for any content
        you provide. Your access to and use of the Service is conditioned on
        Your acceptance of and compliance with these Terms and Conditions. You
        represent that you are over the age of 18. The Company does not permit
        those under 18 to use the Service.
      </p>

      <h2>5. Limitation of Liability</h2>
      <p>
        Notwithstanding any damages that You might incur, the entire liability
        of the Company and any of its suppliers under any provision of this
        Terms and Your exclusive remedy for all of the foregoing shall be
        limited to the amount actually paid by You through the Service or 100
        USD if You haven't purchased anything through the Service. To the
        maximum extent permitted by applicable law, in no event shall the
        Company or its suppliers be liable for any special, incidental,
        indirect, or consequential damages whatsoever.
      </p>

      <h2>6. "AS IS" and "AS AVAILABLE" Disclaimer</h2>
      <p>
        The Service is provided to You "AS IS" and "AS AVAILABLE" and with all
        faults and defects without warranty of any kind. The Company makes no
        warranty that the Service will meet Your requirements, be uninterrupted,
        secure, or error-free. The Company disclaims all warranties, whether
        express, implied, statutory, or otherwise, including all implied
        warranties of merchantability, fitness for a particular purpose, title,
        and non-infringement.
      </p>

      <h2>7. Governing Law</h2>
      <p>
        These Terms shall be governed and construed in accordance with the laws
        of Austria, without regard to its conflict of law provisions. Your use
        of the Application may also be subject to other local, state, national,
        or international laws.
      </p>

      <h2>8. Dispute Resolution</h2>
      <p>
        If You have any concern or dispute about the Service, You agree to first
        try to resolve the dispute informally by contacting the Company.
      </p>

      <h2>9. Links to Other Websites</h2>
      <p>
        Our Service may contain links to third-party websites or services that
        are not owned or controlled by the Company. The Company has no control
        over, and assumes no responsibility for, the content, privacy policies,
        or practices of any third-party websites or services. You further
        acknowledge and agree that the Company shall not be responsible or
        liable, directly or indirectly, for any damage or loss caused or alleged
        to be caused by or in connection with the use of or reliance on any such
        content, goods, or services available on or through any such websites or
        services.
      </p>

      <h2>10. Severability</h2>
      <p>
        If any provision of these Terms is held to be unenforceable or invalid,
        such provision will be changed and interpreted to accomplish the
        objectives of such provision to the greatest extent possible under
        applicable law and the remaining provisions will continue in full force
        and effect.
      </p>

      <h2>11. Waiver</h2>
      <p>
        Except as provided herein, the failure to exercise a right or to require
        performance of an obligation under these Terms shall not affect a
        party's ability to exercise such right or require such performance at
        any time thereafter nor shall the waiver of a breach constitute a waiver
        of any subsequent breach.
      </p>

      <h2>12. Contact Us</h2>
      <p>
        If you have any questions about these Terms and Conditions, You can
        contact us by email: hello.ivantrj@gmail.com
      </p>
    </div>
  </body>
</html>
